<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.loop.dao.NoteDao">
    <select id="findNotesByBookId" parameterType="String"
            resultType="com.loop.entity.Note">
        SELECT id,user_id AS userId,book_id AS bookId,state_id AS stateId,type_id AS typeId,title,content,time_created AS timeCreated,time_last_modify AS timeLastModified FROM t_note WHERE book_id=#{bookId}
    </select>

    <select id="findNoteById" parameterType="String" resultType="com.loop.entity.Note">
        SELECT id,title,content FROM t_note WHERE id=#{id}
    </select>


</mapper>