<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.loop.dao.UserDao">
    <select id="findByName" parameterType="String"
            resultType="com.loop.entity.User">
        select id, name, password, token, nick from t_user where name=#{name}
    </select>

    <insert id="saveUser" parameterType="com.loop.entity.User">
        insert into t_user (id,name,password,nick,token) values(#{id},#{name},#{password},#{nick},#{token} )
    </insert>

</mapper>